<div class="container">
  <h1 class="my-3">Update Listing</h1>
  <%= render "form", listing: @listing %>
  <hr>

  <%= link_to listing_path(@listing), method: :delete, data: { confirm: 'Are you sure you want to delete this listing?' } do %>
  <span class="btn btn-danger">Delete Listing</span>
<% end %>
</div>


