<!-- Header -->
<div class="container">

<div class="listings_header">
  <p>100+ yards available for your search</p>
  <h1><strong>Yards in Montreal</strong></h1>
  <p>filters:</p>
  <div class="listings_dropdowns">

  </div>
</div>
  <!-- <p>Review COVID-19 travel restrictions before you book. Learn more</p> -->

<!-- Cards -->
<div class="cards_listing_container">

  <hr>

  <div class="card_listing">
    <div class="listing_img">
      <img src="https://images.unsplash.com/photo-1602537675897-1285bfbcd014?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80" />
    </div>
    <div class="listing_text">
      <h2>Beautiful, sunny patio in Plateau</h2>
      <p>With outdoor sink, refrigerator, and seating for 8</p>
      <hr>
    </div>
    <div class="listing_price">
      <h3><strong>$26/hr</strong></h3>
      <p>$72 total</p>
    </div>
  </div>

  <hr>

  <div class="card_listing">
    <div class="listing_img">
      <img src="https://images.unsplash.com/photo-1602537675897-1285bfbcd014?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80" />
    </div>
    <div class="listing_text">
      <h2>Beautiful, sunny patio in Plateau</h2>
      <p>With outdoor sink, refrigerator, and seating for 8</p>
      <hr>
    </div>
    <div class="listing_price">
      <h3><strong>$26/hr</strong></h3>
      <p>$72 total</p>
    </div>
  </div>

  <hr>

  <div class="card_listing">
    <div class="listing_img">
      <img src="https://images.unsplash.com/photo-1602537675897-1285bfbcd014?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80" />
    </div>
    <div class="listing_text">
      <h2>Beautiful, sunny patio in Plateau</h2>
      <p>With outdoor sink, refrigerator, and seating for 8</p>
      <hr>
    </div>
    <div class="listing_price">
      <h3><strong>$26/hr</strong></h3>
      <p>$72 total</p>
    </div>
  </div>

</div>



</div>
