<div class="form-container container w-50">
  <div class="container d-flex justify-content-between mt-3">
    <h1 class="my-3">Add My Yard</h1>
  </div>
  <%= render "form", listing: @listing %>
</div>
