.btn {
  font-weight: bold;
  // color: #027DCA;
  color: #027DCA;
  background-color: white;
  border: 1px solid lightgray;
  transition: 0.2s;
  &:hover {
  border: 1px solid #027DCA;
  color: #027DCA;
  font-weight: bold;
  }
}

.btn-primary {
  &:hover {
  border: 1px solid #027DCA;
  color: #027DCA;
  font-weight: bold;
  }
}

.btn-listing {
  font-size: 20px;
}
