.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  border-radius: 16px;
  padding: 16px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.mapboxgl-popup-content p {
  font-size: 16px;
}

.mapboxgl-popup-content a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #0296F2;
  padding: 8px 16px;
  border-radius: 8px;
  &:hover {
    background-color: #014B7A;
  }
}
